In [2]:
# Import pandas library
import pandas as pd

In [3]:
# Creating the Series from a list
cat1 = ['Grumpy Cat', 'cat', 2012]

ser = pd.Series(cat1)

print(ser)

0    Grumpy Cat
1           cat
2          2012
dtype: object

In [4]:
# Check the type of the variable ser
type(ser)

pandas.core.series.Series

In [5]:
# Create the index
cat_index = ['name', 'species', 'YOB']

# Set the index
ser.index = cat_index
print(ser)

name       Grumpy Cat
species           cat
YOB              2012
dtype: object

In [6]:
# Creating a DataFrame from a list
name = ['Grumpy Cat', 'Garfi the Angry Cat', 'Colonel Meow']
species = ['cat','cat', 'cat']
YOB = [2004, 2012, 2011]

In [7]:
# Creating the Series from a dictionary
cat_dict= {	'name':name,
   	        'species':species,
            'YOB': YOB}
print(cat_dict)
print(type(cat_dict))

{'name': ['Grumpy Cat', 'Garfi the Angry Cat', 'Colonel Meow'], 'species': ['cat', 'cat', 'cat'], 'YOB': [2004, 2012, 2011]}
<class 'dict'>

In [8]:
# Convert the dictionary into a DataFrame using pd.DataFrame into a variable called df

df = pd.DataFrame(cat_dict)
print(df)
type(df)

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

pandas.core.frame.DataFrame

In [9]:
# show diffrences between print and display
print(df)

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [10]:
display(df)

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [11]:
# Show only the column "name"
display(df["name"])

0             Grumpy Cat
1    Garfi the Angry Cat
2           Colonel Meow
Name: name, dtype: object

In [ ]:
df

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [ ]:
# This was asked by Leo in Honey Badgers. (Also allowed me to illustrate how to read the parameters of methods and functions.)

df.style.hide(axis = 1 , subset= [ "YOB"])

In [12]:
df

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [13]:
# Show multiple columns. You can change the order of the columns and so on.

#display(df[["species", "name", "YOB"]])
df_manyyob = df[["YOB","name", "YOB","YOB","YOB"]]

In [14]:
df_manyyob

    YOB                 name   YOB   YOB   YOB
0  2004           Grumpy Cat  2004  2004  2004
1  2012  Garfi the Angry Cat  2012  2012  2012
2  2011         Colonel Meow  2011  2011  2011

In [15]:
df

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [ ]:
# https://datagy.io/pandas-drop-index-column/
df = df.reset_index(drop=True)

#df = df.set_index("name")

df

  species   YOB
0     cat  2004
1     cat  2012
2     cat  2011

In [ ]:
df

  species   YOB
0     cat  2004
1     cat  2012
2     cat  2011

In [16]:
df[["name", "YOB"]]
#display(df[["species", "YOB"]])

#print(df[["name", "YOB"]])

                  name   YOB
0           Grumpy Cat  2004
1  Garfi the Angry Cat  2012
2         Colonel Meow  2011

In [ ]:
df[:2]

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012

In [ ]:
# .loc function is label based.
# this works because the labels are strings.

# df.loc[["Colonel Meow", "Grumpy Cat"],["YOB","species"]]

df.loc[0:1,["YOB","species"]]

    YOB species
0  2004     cat
1  2012     cat

In [ ]:
# Shows an error you Defo need iloc or loc
# df[:, 0:1]

In [ ]:
display(df)

In [ ]:
# .iloc function is integer based.
# In this example, we are selecting the first two rows (0:2) and all the columns (:)
# df.iloc[rows, columns]

df.iloc[0:2,1:]

  species   YOB
0     cat  2004
1     cat  2012

In [ ]:
# .iloc function is integer based.
# In this example, we are selecting the first and second rows (0,2) and the first and second columns (0,2)

display(df.iloc[[0,2, 1, 0, 2, 1],[0, 2, 1, 2, 2, 1, 0]])

                  name   YOB species   YOB   YOB species                 name
0           Grumpy Cat  2004     cat  2004  2004     cat           Grumpy Cat
2         Colonel Meow  2011     cat  2011  2011     cat         Colonel Meow
1  Garfi the Angry Cat  2012     cat  2012  2012     cat  Garfi the Angry Cat
0           Grumpy Cat  2004     cat  2004  2004     cat           Grumpy Cat
2         Colonel Meow  2011     cat  2011  2011     cat         Colonel Meow
1  Garfi the Angry Cat  2012     cat  2012  2012     cat  Garfi the Angry Cat

In [ ]:
# You can use .head() to see the first 5 rows. You can also specify a custom number of rows to see by specifying it in the parantheses .head(11)
df.head(2)

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012

In [18]:
df.head(2)

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012

In [ ]:
# You can use .tail() to see the last 5 rows. You can also specify a custom number of rows to see by specifying it in the parantheses .tail(11)

df.tail()

                  name species   YOB
0           Grumpy Cat     cat  2004
1  Garfi the Angry Cat     cat  2012
2         Colonel Meow     cat  2011

In [19]:
# Let's load a larger dataset to play around with.

df = pd.read_csv("/Users/ms/Desktop/Boot Camp /1st Project/Movies /movies.csv")

In [21]:
df_copy = df.copy()

In [ ]:
pd.read

In [20]:
df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [ ]:
# Always a good idea to create a copy of the dataframe we loaded from the datasource(CSV) so that we don't have to load it again incase we mess up with the original df

movies = df.copy()

In [ ]:
movies.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [ ]:
#  Use df.head() and df.tail() to show the top and bottom n rows. Defaults to 5 rows when the number isn't specified.
display(df.head())
display(df.tail())

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [ ]:
# df.describe() to enerate descriptive statistics.

movies.describe()

,MovieID,Budget,Gross,Runtime,Rating,Rating Count
count,616.000000,6.150000e+02,6.150000e+02,615.000000,508.000000,5.080000e+02
mean,307.500000,9.491710e+07,4.453221e+08,118.642276,6.917323,3.392521e+05
std,177.968162,6.748114e+07,3.394075e+08,22.252376,0.888928,3.213388e+05
min,0.000000,6.000000e+04,5.300000e+07,79.000000,4.100000,1.491800e+04
25%,153.750000,4.000000e+07,2.158939e+08,102.000000,6.400000,1.275922e+05
50%,307.500000,8.000000e+07,3.510404e+08,117.000000,6.900000,2.403475e+05
75%,461.250000,1.400000e+08,5.851766e+08,132.000000,7.600000,4.257000e+05
max,615.000000,4.000000e+08,2.796000e+09,201.000000,9.000000,2.127228e+06

In [33]:
movies = df.copy()

In [25]:
df3

In [28]:
df3.drop(axis= 1, labels = "MovieID")

,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...
611,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df3

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df2 = df.drop(axis= 1, labels = "MovieID")

In [24]:
df2

,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...
611,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Use df.drop() to drop specific columns and so on.
# Use "inplace = true" when you want to save the df after dropping whatever it is you want to drop.


# Read documentation for more information.

movies.drop(axis= 1, labels = "MovieID", inplace = True) # In this case, we removed the "MovieID" and saved it by calling "inplace = True"

movies.head()

,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [ ]:
df2 =

In [ ]:
movies.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [31]:
# to sort the DF by a column, use the ascending parameter to sort in ascending or descending order

df.sort_values(by='Gross', ascending=False)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
414,415,Avatar,PG-13,237000000.0,2.787965e+09,2009-12-10,Adventure,162.0,7.8,1064378.0,A paraplegic Marine dispatched to the moon Pan...
533,534,Star Wars: The Force Awakens,PG-13,245000000.0,2.068224e+09,2015-12-15,Science Fiction,136.0,NaN,NaN,NaN
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,NaN,NaN,NaN
177,178,Titanic,PG-13,200000000.0,1.845034e+09,1997-11-18,Romance,194.0,7.8,978389.0,A seventeen-year-old aristocrat falls in love ...
...,...,...,...,...,...,...,...,...,...,...,...
26,27,Misery,R,20000000.0,6.127687e+07,1990-11-28,Drama,107.0,7.8,168946.0,After a famous author is rescued from a car cr...
90,91,Sister Act 2: Back in the Habit,PG,38000000.0,5.731903e+07,1993-12-09,Comedy,107.0,5.6,45380.0,Showgirl Deloris Van Cartier returns as Sister...
85,86,Tombstone,R,25000000.0,5.650506e+07,1993-12-25,Drama,130.0,7.8,117576.0,A successful lawmans plans to retire anonymous...
27,28,Edward Scissorhands,PG-13,20000000.0,5.300000e+07,1990-12-05,Drama,105.0,7.9,421760.0,"An artificial man, who was incompletely constr..."
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# df.shape to quickly see the number of rows and columns.
df.shape

(616, 11)

In [ ]:
# use df.sort_values() to sort

# Read documentation for more information.

movies.sort_values(by=["Title"], inplace = True)
movies.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
149,150,101 Dalmatians,G,54000000.0,320689294.0,1996-11-17,Comedy,103.0,5.7,94582.0,An evil high-fashion designer plots to steal D...
281,282,2 Fast 2 Furious,PG-13,76000000.0,236350661.0,2003-06-05,Thriller,107.0,5.9,236645.0,Former cop Brian OConner is called upon to bus...
413,414,2012,PG-13,200000000.0,769653595.0,2009-10-10,Adventure,158.0,4.3,28949.0,NaN
496,497,22 Jump Street,R,50000000.0,188441614.0,2014-06-05,Comedy,112.0,7.0,325958.0,After making their way through high school (tw...
359,360,300,R,60000000.0,454161935.0,2007-03-09,Action,155.0,8.1,681249.0,NaN

In [34]:
# Use .shape to see the total rows x columns in a dataframe.
movies.shape

(616, 11)

In [35]:
# Use .describe to calculate statistical data.
movies.describe()

,MovieID,Budget,Gross,Runtime,Rating,Rating Count
count,616.000000,6.150000e+02,6.150000e+02,615.000000,508.000000,5.080000e+02
mean,307.500000,9.491710e+07,4.453221e+08,118.642276,6.917323,3.392521e+05
std,177.968162,6.748114e+07,3.394075e+08,22.252376,0.888928,3.213388e+05
min,0.000000,6.000000e+04,5.300000e+07,79.000000,4.100000,1.491800e+04
25%,153.750000,4.000000e+07,2.158939e+08,102.000000,6.400000,1.275922e+05
50%,307.500000,8.000000e+07,3.510404e+08,117.000000,6.900000,2.403475e+05
75%,461.250000,1.400000e+08,5.851766e+08,132.000000,7.600000,4.257000e+05
max,615.000000,4.000000e+08,2.796000e+09,201.000000,9.000000,2.127228e+06

In [ ]:
# .info() function is used to get a summary of the dataframe and it's types, and the number of non-null values.

movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 616 entries, 149 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 57.8+ KB

In [36]:
movies.tail(10)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
606,607,Spider-Man: Far from Home,PG-13,160000000.0,1.131000e+09,2019-06-26,Action,129.0,NaN,NaN,NaN
607,608,Dumbo,PG,170000000.0,3.530000e+08,2019-03-11,Adventure,112.0,NaN,NaN,NaN
608,609,Captain Marvel,PG-13,175000000.0,1.128000e+09,2019-02-27,Action,124.0,NaN,NaN,NaN
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,NaN,NaN,NaN
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# .isna() detects null values.

movies.isna()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [ ]:
# On its own, df.isna() is hard to read but combine it with .sum() and you can get a total number of null values.

# By combining df.isna() and df.sum() we essentially stacked two methods together. This is called "method chaining".
# We can continue to do this with more functions and as you progress you will naturally find a coding groove that works for you.

movies.isna().sum()

MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

In [ ]:
# .dtypes returns a series with the data type of each column.
movies.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

In [ ]:
# The Release Date is a string type, which is called object in Pandas.
# We can convert this to a date format using .to_datetime()

movies["Release Date"] = pd.to_datetime(movies["Release Date"], format = "%Y/%m/%d")
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 616 entries, 149 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    datetime64[ns]
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 57.8+ KB

In [ ]:
# By converting to a pd.to_datetime() format we can now extract granular information from this column.

# For instance, we can create a new column called "Day of the week" and fill it with the day name of that date.

movies["Day of the week"] = movies["Release Date"].dt.day_name() # Run this code again to see what would happen if we removed the () at the end of day_name.
movies.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary,Day of the week
149,150,101 Dalmatians,G,54000000.0,320689294.0,1996-11-17,Comedy,103.0,5.7,94582.0,An evil high-fashion designer plots to steal D...,Sunday
281,282,2 Fast 2 Furious,PG-13,76000000.0,236350661.0,2003-06-05,Thriller,107.0,5.9,236645.0,Former cop Brian OConner is called upon to bus...,Thursday
413,414,2012,PG-13,200000000.0,769653595.0,2009-10-10,Adventure,158.0,4.3,28949.0,NaN,Saturday
496,497,22 Jump Street,R,50000000.0,188441614.0,2014-06-05,Comedy,112.0,7.0,325958.0,After making their way through high school (tw...,Thursday
359,360,300,R,60000000.0,454161935.0,2007-03-09,Action,155.0,8.1,681249.0,NaN,Friday

In [ ]:
# This code block aims to illustrate how we can filter the data directly.

# For instance, let's see all the movies with runtime less than 100 minutes.

runtimelessthanhundred = movies[movies["Runtime"] < 100]

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary,Day of the week
300,301,50 First Dates,PG-13,75000000.0,196482882.0,2004-02-13,Comedy,99.0,6.8,308950.0,Henry Roth is a man afraid of commitment up un...,Friday
194,195,A Bug's Life,G,120000000.0,363258859.0,1998-11-25,Animation,95.0,7.2,251436.0,"A misfit ant, looking for warriors to save his...",Wednesday
575,576,A Quiet Place,PG-13,17000000.0,340900000.0,2018-03-09,Horror,91.0,NaN,NaN,NaN,Friday
100,101,Ace Ventura: Pet Detective,PG-13,15000000.0,107217396.0,1994-02-04,Comedy,86.0,6.9,260044.0,A goofy detective specializing in animals goes...,Friday
124,125,Ace Ventura: When Nature Calls,PG-13,30000000.0,212385533.0,1995-11-10,Comedy,90.0,6.4,191266.0,"Ace Ventura, Pet Detective, returns from a spi...",Friday
...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,Trolls,PG,125000000.0,346864462.0,2016-10-13,Animation,92.0,NaN,NaN,NaN,Thursday
411,412,Up,PG,175000000.0,735099082.0,2009-05-13,Animation,96.0,8.2,867393.0,Seventy-eight year old Carl Fredricksen travel...,Wednesday
391,392,WALL-E,G,180000000.0,533300000.0,2008-06-23,Animation,97.0,7.6,429384.0,NaN,Monday
63,64,Wayne's World,PG-13,20000000.0,121697323.0,1992-02-14,Comedy,94.0,7.0,135657.0,Two slacker friends try to promote their publi...,Friday
6,7,When Harry Met Sally...,R,16000000.0,92800000.0,1989-07-21,Romance,96.0,7.6,180871.0,Harry and Sally have known each other for year...,Friday

In [ ]:
# By method chaining, we can add a df.count() to the previous code block and get the total number of movies that are less than 100 minutes.

movies[movies["Runtime"] < 100].count()

MovieID            132
Title              132
MPAA Rating        132
Budget             132
Gross              132
Release Date       132
Genre              132
Runtime            132
Rating             117
Rating Count       117
Summary            114
Day of the week    132
dtype: int64

In [ ]:
# We can also filter by more than one condition.

# For instance, let's say we want to see all "Action" movies that were released before "1994-07-14"

movies[(movies["Release Date"] < "1994-07-14") & (movies["Genre"] == "Action")]

# The & operator in the middle means "And".
# So essentially what we are saying is filter movies "Release Date" < "1994-07-14" AND "Genre" == "Action".

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary,Day of the week
33,34,Another 48 Hrs.,R,38000000.0,153518974.0,1990-06-08,Action,95.0,5.9,36103.0,Jack Cates once again enlists the aid of ex-co...,Friday
13,14,Batman,PG,35000000.0,411348924.0,1989-06-23,Action,126.0,7.5,319517.0,The Dark Knight of Gotham City begins his war ...,Friday
78,79,Batman Returns,PG-13,80000000.0,280000000.0,1992-06-19,Action,126.0,7.0,258216.0,Batman returns to the big screen when a deform...,Friday
96,97,Demolition Man,R,57000000.0,159055768.0,1993-10-08,Action,115.0,6.7,148329.0,A police officer is brought out of suspended a...,Friday
23,24,Kindergarten Cop,PG-13,15000000.0,201957688.0,1990-12-21,Action,111.0,6.1,127793.0,A tough cop must pose as a kindergarten teache...,Friday
69,70,Lethal Weapon 3,R,35000000.0,321731527.0,1992-05-15,Action,118.0,6.7,148440.0,Martin Riggs and Roger Murtaugh pursue a forme...,Friday
117,118,Maverick,PG,75000000.0,183000000.0,1994-05-20,Action,127.0,7.0,96405.0,"Bret Maverick, needing money for a poker tourn...",Friday
11,12,National Lampoon's Christmas Vacation,PG-13,27000000.0,71320000.0,1989-12-01,Action,97.0,7.6,135690.0,The Griswold familys plans for a big family Ch...,Friday
104,105,Speed,R,30000000.0,350448145.0,1994-06-09,Action,116.0,7.2,309338.0,A young police officer must prevent a bomb exp...,Thursday
18,19,Tango & Cash,R,55000000.0,63408614.0,1989-12-22,Action,104.0,6.8,79806.0,"Framed by their ruthless arch-nemesis, a misma...",Friday
21,22,Teenage Mutant Ninja Turtles,PG,13500000.0,202000000.0,1990-03-30,Action,93.0,6.8,79806.0,Four teenage mutant ninja turtles emerge from ...,Friday
45,46,Teenage Mutant Ninja Turtles II,PG,25000000.0,78600000.0,1991-03-22,Action,88.0,8.0,397467.0,The Turtles and the Shredder battle once again...,Friday
64,65,The Bodyguard,R,25000000.0,411006740.0,1992-11-25,Action,129.0,6.3,110511.0,A former Secret Service agent takes on the job...,Wednesday
73,74,The Last of the Mohicans,R,40000000.0,75505856.0,1992-09-25,Action,112.0,7.7,139000.0,Three trappers protect the daughters of a Brit...,Friday
70,71,Under Siege,R,35000000.0,156563139.0,1992-10-08,Action,103.0,6.5,71962.0,An ex-Navy Seal turned cook is the only person...,Thursday

#### 1.  Comparison Operators: These are used to compare the values on either side and decide the relation among them. They return a Boolean value (`True` or `False`).

    -   `==` Equal to
    -   `!=` Not equal to
    -   `<` Less than
    -   `>` Greater than
    -   `<=` Less than or equal to
    -   `>=` Greater than or equal to
#### 2.  Logical Operators: These are used to combine the results of comparison operators and return a single Boolean result.

    -   `&` Logical AND: True if both operands are true
    -   `|` Logical OR: True if either operand is true
    -   `~` Logical NOT: True if operand is false

In [ ]:
# Now let's say we want to filter out movies that are rated PG
# This is the syntax for that:

movies[movies["MPAA Rating"] == "PG"]

# This is called Boolean Indexing

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary,Day of the week
72,73,A League of Their Own,PG,40000000.0,1.074588e+08,1992-07-01,Comedy,128.0,7.2,85932.0,Two sisters join the first female professional...,Wednesday
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,NaN,NaN,NaN,Wednesday
431,432,Alice in Wonderland,PG,200000000.0,1.025491e+09,2010-03-03,Fantasy,108.0,6.4,364339.0,Nineteen-year-old Alice returns to the magical...,Wednesday
360,361,Alvin and the Chipmunks,PG,60000000.0,3.613666e+08,2007-12-13,Family,92.0,5.2,71035.0,Three musical chipmunks are discovered by an a...,Thursday
402,403,Alvin and the Chipmunks: The Squeakquel,PG,75000000.0,4.431400e+08,2009-12-21,Family,88.0,4.5,40285.0,The world famous singing pre-teen chipmunk tri...,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...
52,53,What About Bob?,PG,35000000.0,6.371000e+07,1991-05-17,Comedy,100.0,7.0,58797.0,A successful psychotherapist loses his mind af...,Friday
119,120,While You Were Sleeping,PG,17000000.0,1.820570e+08,1995-04-21,Romance,103.0,6.7,85626.0,A hopeless romantic Chicago Transit Authority ...,Friday
466,467,Wreck-It Ralph,PG,165000000.0,4.712229e+08,2012-11-01,Animation,108.0,7.7,354202.0,A video game villain wants to be a hero and se...,Thursday
186,187,You've Got Mail,PG,65000000.0,2.508215e+08,1998-12-17,Romance,119.0,6.6,180707.0,Two business rivals who despise each other in ...,Thursday
543,544,Zootopia,PG,150000000.0,1.023784e+09,2016-02-11,Animation,108.0,NaN,NaN,NaN,Thursday

In [ ]:
# We can also filter the data and save it into a new variable/df.
# There are many use cases for this and you will MAY use them in your journey.

# For instance, let's say we want to create a new df with movies that are rated "PG" only
# This is the syntax for it:

pg_movies = movies[(movies["MPAA Rating"] == "PG")]
pg_movies.head()

# That's all folks!
## Happy hunting with Pandas