# Epic 1: The 5 steps of Data Analysis

Now that you have a good overview of statistical concepts and python, it is time to put all that in practice.

Analyzing a dataset always involves several steps to follow:

1. **Asking the right questions**: The first step towards any sort of data analysis is to ask the right question(s) from the given data. Identifying the objective of the analysis, it becomes easier to decide on the type(s) of data we will be needing to draw conclusions.

2. **Data Wrangling**: Data wrangling, sometimes referred to as data munging, or Data Pre-Processing, is the process of gathering, assessing, and cleaning of "raw" data into a form suitable for analysis.

3. **Exploratory Data Analysis**: Once the data is collected, cleaned, and processed, it is ready for Analysis. As you manipulate data, you may find you have the exact information you need, or you might need to collect more data. During this phase, you can use data analysis tools and software which will help you to understand, interpret, and derive conclusions based on the requirements.

4. **Conclusion**: After the analysis phase is completed, the next step is to interpret our analysis and draw conclusions from it. As we interpret the data, there are 3 key questions which should be asked by us:

- Did the analysis answer my original question?
- Was there any limitation in my analysis which would affect my conclusions?
- Was the analysis sufficient enough to help decision making?
5. **Communicating results**: now that data has been explored, conclusions have been drawn; it's time to communicate your findings to the concerned people or communicating to mass employing data storytelling, writing blogs, making presentations or filing reports. Great communication skills are a plus in this stage since your findings need to be communicated in a proper way to other people.

Note that the five steps of data analysis are not followed linearly, it is actually non-linear in nature. To explain this, let's consider an example. Supposedly, you have done your analysis, drawn conclusions, then suddenly you find the possibility of representing a feature in a better way, or to construct a new feature out of other features present in the data set. In this case, you would go back to step 3, perform feature engineering, and again perform the EDA with the new features added.

# Epic 2: Data Wrangling
During the first task with Tableau, you have been working on almost all the steps mentioned above. Today, with the help of a new Python library called Pandas, you will focus on the second step.

Data Wrangling has 3 sub-process:

1. **Gathering of data**: collect the necessary data required by us to draw appropriate conclusions.

2. **Assessing of data**: after the data has been gathered, stored in a supported format, and assigned to a variable in Python. It's time to gain some high-level overview of the type of data we are dealing with.

3. **Data Cleaning**: data cleaning is the process of detecting and correcting missing, or inaccurate records from a data set. In this process, data present in the "raw" form (having missing, or inaccurate values) are cleaned appropriately so that the output data is void of missing and inaccurate values. Since no two data sets are same, therefore the method of tackling missing and inaccurate values vary greatly between data sets, but most of the time, we either fill up the missing values or remove the feature which cannot be worked upon.

Install Pandas in your conda environment: https://anaconda.org/anaconda/pandas

Gathering the data has been done already for you. We will again use the movie dataset that you have explored in your first days. You can find it here: [movies_2.csv](https://drive.google.com/file/d/1yFtA1E_kPkcMjKwwQafV0h3YsRig122S/view).

Please download it again as few changes has been done to improve the learning experience.

Get familiar with some basics concept of Pandas here: [Basics of Pandas](https://drive.google.com/file/d/1LegiAniq3boQuEvjdozA0AVw1CBh_O1E/view)

Pandas official docs reference: https://pandas.pydata.org/docs/.

Now let's start to explore the concepts of Data Wrangling on the provided dataset.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('movies_2.csv') # Gathering data
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

### Assessing of Data
After you have completed all the steps above, you should be able to finally see the movies dataset in a form of a table.

It is now time to assess the data. This process includes gaining information such as:

- the number of rows and columns present in the data set ([shape](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.shape.html) of the dataframe)

In [3]:
# get shape
df.shape

(616, 11)


- columns present in the data set, along with the data type ([info()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html) method or [dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html) method)

In [4]:
# get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [5]:
# get dtypes (they are also visible in info() above)
df.dtypes

MovieID           int64
Title            object
MPAA Rating      object
Budget          float64
Gross           float64
Release Date     object
Genre            object
Runtime         float64
Rating          float64
Rating Count    float64
Summary          object
dtype: object

- check for MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, Rating and Rating Count columns [how many NaN we have](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html)

In [6]:
# check for MPAA Rating, Budget, Gross, Release Date, Genre, Runtime, Rating and Rating Count columns how many NaN we have
df[['MPAA Rating', 'Budget', 'Gross', 'Release Date', 'Genre', 'Runtime', 'Rating', 'Rating Count']].isna().sum()

MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
dtype: int64

- understanding which kind of information each column represents

Please try to understand all these things using Pandas methods.

# Epic 3: Data Cleaning & Exploratory Data Analysis
Data Analysts usually spend about 70% of their time cleaning data. There are several methods to clean your dataset. They always depend on what was the original question, therefore in the next steps we will talk about Data Cleaning and Exploratory Data Analysis together.

As mentioned before Exploratory Data Analysis is where you start exploring your data with the help of charts and plots. We will not do that in the its extensive meaning during this assignment as it requires you to use other Python libraries, but we will get there with the next project. For now we will just try to get information about this dataset without visual help.

Irrelevant data
Remove all irrelevant data in the dataset.
- Get rid of the Summary column (use the [drop()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) method)

In [7]:
# get rid of the Summary column
df.drop('Summary', axis=1, inplace=True)
df

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Standardize
Our duty is to not only recognize the typos but also put each value in the same standardized format. For strings, make sure all values are either in lower or upper case. For numerical values, make sure all values have a certain measurement unit. The height, for example, can be in meters and centimeters, or feet and inches.

In this case, it is recommended that column names have no space between words, but an underscore. Also, it is common to find column names as all lower case.

- use the [raname()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html) method to change all columns names lowercase and add an underscore if they are made of 2 words

In [8]:
# use the rename method to change all columns names lowercase and add an underscore if they are made of 2 words
df.rename(str.lower, axis='columns', inplace=True)  # make the names lowercase
df.columns = df.columns.str.replace(' ', '_')       # replace space with underscore in column names
df

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Missing values
Given the fact the missing values are unavoidable leaves us with the question of what to do when we encounter them. Ignoring the missing data is the same as digging holes in a boat; It will sink.

There are three, or perhaps more, ways to deal with them.

### Drop
If the missing values in a column rarely happen and occur at random, then the easiest and most forward solution is to drop observations (rows) that have missing values. If most of the column's values are missing, and occur at random, then a typical decision is to drop the whole column. This is particularly useful when doing statistical analysis, since filling in the missing values may yield unexpected or biased results.

- Get rid of the last row, the one containing NaN for each column (use [drop()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) method and row index)

In [9]:
# get rid of the last row, the one containing NaN for each column (use drop() method and row index)
# df.drop(615, inplace=True)    # alternative version
df.drop(df.index[-1], inplace=True)
df

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

### Impute
It means to calculate the missing value based on other observations. There are quite a lot of methods to do that.

1. Using statistical values like **mean**, **median**. However, none of these guarantees unbiased data, especially if there are many missing values.
Mean is most useful when the original data is not skewed, while the median is more robust, not sensitive to outliers, and thus used when data is skewed.
In a normally distributed data, one can get all the values that are within 2 standard deviations from the mean. Next, fill in the missing values by generating random numbers between (mean — 2 * std) & (mean + 2 * std)

2. Using a **linear regression**. Based on the existing data, one can calculate the best fit line between two variables, say, house price vs. size m².

3. **Hot-deck**: copying values from other similar records. This is only useful if you have enough available data. And, it can be applied to numerical and categorical data.
One can take the random approach where we fill in the missing value with a random value. Taking this approach one step further, one can first divide the dataset into two groups (strata), based on some characteristic, say gender, and then fill in the missing values for different genders separately, at random.

4. **Flag**: some argue that filling in the missing values leads to a loss in information, no matter what imputation method we used. That's because saying that the data is missing is informative in itself, and the algorithm should know about it. Otherwise, we're just reinforcing the pattern already exist by other features.
This is particularly important when the missing data doesn't happen at random. Take for example a conducted survey where most people from a specific race refuse to answer a certain question.
Missing numeric data can be filled in with say, 0, but has these zeros must be ignored when calculating any statistical value or plotting the distribution.
While categorical data can be filled in with say, "Missing": A new category which tells that this piece of data is missing.

**Things to take into consideration**: missing values are not the same as default values. For instance, zero can be interpreted as either missing or default, but not both. Missing values are not "unknown". A conducted research where some people didn't remember whether they have been bullied or not at the school, should be treated and labelled as unknown and not missing. Every time we drop or impute values we are losing information. So, flagging might come to the rescue.

We will deal with missing data using the first approach.

### Rating
We are not going to create a Machine Learning model out of this dataset, therefore we could simply ignore the missing data for now. However let's try one of the methods described above.

![rating-distribution.png](images/rating-distribution.png "rating-distribution")

As you can see the Rating column has a negatively skewed distribution. So we will use the median to replace the missing values for the Rating column.

- use [fillna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html) method to replace the missing values of Rating with their median

In [10]:
# use fillna() method to replace the missing values of rating with their median
df['rating'].fillna(value=df['rating'].median(), inplace=True)

### Rating Count

![rating-count-distribution.png](images/rating-count-distribution.png "rating-count-distribution")

- the Rating Count column is also skewed, use the same method to fill the missing values.

In [11]:
# the rating_count column is also skewed, use the same method to fill the missing values.
df['rating_count'].fillna(value=df['rating_count'].median(), inplace=True)

### Duplicates
- [Drop the duplicates](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html), if any

In [12]:
# find out what is duplicated to make a decision firs
df[df.duplicated(subset='title', keep=False)].sort_values(by='title')

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
65,66,Aladdin,G,28000000.0,5.040502e+08,1992-11-25,Animation,90.0,8.0,336384.0
609,610,Aladdin,PG,183000000.0,1.049000e+09,2019-05-08,Fantasy,128.0,6.9,240347.5
46,47,Beauty and the Beast,PG,25000000.0,3.773506e+08,1991-11-13,Animation,84.0,8.0,397467.0
565,566,Beauty and the Beast,PG,160000000.0,1.262886e+09,2017-03-16,Drama,129.0,6.9,240347.5
195,196,Godzilla,PG-13,130000000.0,3.790143e+08,1998-05-20,Thriller,139.0,5.4,174600.0
504,505,Godzilla,PG-13,160000000.0,5.290761e+08,2014-05-14,Thriller,123.0,6.4,359438.0
98,99,Jurassic Park III,PG-13,93000000.0,3.688000e+08,2001-07-16,Thriller,92.0,8.9,1690474.0
249,250,Jurassic Park III,PG-13,93000000.0,3.687808e+08,2001-07-18,Adventure,92.0,5.9,280110.0
21,22,Teenage Mutant Ninja Turtles,PG,13500000.0,2.020000e+08,1990-03-30,Action,93.0,6.8,79806.0
501,502,Teenage Mutant Ninja Turtles,PG-13,125000000.0,4.772000e+08,2014-08-07,Action,101.0,5.8,194073.0
107,108,The Lion King,G,45000000.0,7.882418e+08,1994-06-23,Animation,89.0,8.5,869127.0
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,240347.5

In [13]:
# this only removes lines that have all values duplicated
df.drop_duplicates(inplace=True)

### Type conversion
Make sure numbers are stored as numerical data types. A date should be stored as a date object, or a Unix timestamp (number of seconds, and so on.

- Convert Budget into integer type (use [astype()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html) method)
- Convert Gross into integer type
- Convert Release Date into date type (use [to_datetime()](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) method)

In [14]:
# convert budget into integer type (use astype() method)
df['budget'] = df['budget'].astype('int64')

# convert gross into integer type
df['gross'] = df['gross'].astype('int64')

# convert release_date into date type (use to_datetime method)
df['release_date'] = pd.to_datetime(df['release_date'])

In [15]:
df

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,385900000,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000,1062000000,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,759400000,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000,1632000000,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5

In [16]:
# check if everything has been converted correctly
df.dtypes

movieid                  int64
title                   object
mpaa_rating             object
budget                   int64
gross                    int64
release_date    datetime64[ns]
genre                   object
runtime                float64
rating                 float64
rating_count           float64
dtype: object

In [17]:
# check if everything has been converted correctly
df

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000,296000000,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000,385900000,2019-05-13,Adventure,132.0,6.9,240347.5
611,612,Toy Story 4,G,200000000,1062000000,2019-06-11,Animation,100.0,6.9,240347.5
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000,759400000,2019-07-13,Thriller,136.0,6.9,240347.5
613,614,The Lion King,PG,250000000,1632000000,2019-07-09,Drama,118.0,6.9,240347.5
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5

### Syntax Errors
There are no syntax errors here, but it is something you should always check.

### Outliers
They are values that are significantly different from all other observations. Any data value that lies more than (1.5 * IQR) away from the Q1 and Q3 quartiles is considered an outlier.

Outliers are innocent until proven guilty. With that being said, they should not be removed unless there is a good reason for that. For example, one can notice some weird, suspicious values that are unlikely to happen, and so decides to remove them. Though, they worth investigating before removing.

It is also worth mentioning that some models, like linear regression, are very sensitive to outliers. In other words, outliers might throw the model off from where most of the data lie.

### In-record & cross-datasets errors
These errors result from having two or more values in the same row or across datasets that contradict with each other. For example, if we have a dataset about the cost of living in cities. The total column must be equivalent to the sum of rent, transport, and food.

Now we can start with the exploratory analysis.

Answer the following questions:

* show the movies with more than 7 in Rating & greater than 50 million Gross

In [18]:
# show the movies with more than 7 in Rating & greater than 50 million Gross
df[(df['rating'] > 7) & (df['gross'] > 50000000)]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000,161001698,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
6,7,When Harry Met Sally...,R,16000000,92800000,1989-07-21,Romance,96.0,7.6,180871.0
...,...,...,...,...,...,...,...,...,...,...
505,506,Big Hero 6,PG,165000000,652105443,2014-10-24,Animation,102.0,7.8,380953.0
506,507,Interstellar,PG-13,165000000,675120017,2014-11-05,Science Fiction,169.0,8.6,1343549.0
507,508,Captain America: The Winter Soldier,PG-13,170000000,714766572,2014-03-20,Action,136.0,7.7,685903.0
508,509,Dawn of the Planet of the Apes,PG-13,170000000,710644566,2014-06-26,Science Fiction,130.0,7.6,395425.0
509,510,Guardians of the Galaxy,PG-13,170000000,773328629,2014-07-30,Action,121.0,8.0,978222.0

* show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating

In [19]:
# show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating
df[(df['rating'] > 7) & (df['gross'] > 50000000) & (df['mpaa_rating'] == 'PG')]

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
1,2,Driving Miss Daisy,PG,7500000,145793296,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000,71079915,1989-07-28,Crime,100.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000,84431625,1989-04-21,Drama,107.0,7.5,101702.0
7,8,Dead Poets Society,PG,16400000,235860116,1989-06-02,Drama,129.0,8.1,382002.0
13,14,Batman,PG,35000000,411348924,1989-06-23,Action,126.0,7.5,319517.0
15,16,The Little Mermaid,PG,40000000,222300000,1989-11-17,Animation,83.0,7.6,219221.0
16,17,Back to the Future Part II,PG,40000000,332000000,1989-11-20,Science Fiction,108.0,7.8,438940.0
19,20,Steel Magnolias,PG,15000000,95904091,1989-11-15,Drama,119.0,7.3,43037.0
24,25,Home Alone,PG,18000000,476684675,1990-11-09,Family,103.0,7.6,414472.0
32,33,The Hunt for Red October,PG,30000000,199200000,1990-03-02,Thriller,134.0,7.6,167212.0
34,35,Back to the Future Part III,PG,40000000,244527583,1990-05-25,Family,118.0,7.4,369652.0
45,46,Teenage Mutant Ninja Turtles II,PG,25000000,78600000,1991-03-22,Action,88.0,8.0,397467.0
46,47,Beauty and the Beast,PG,25000000,377350553,1991-11-13,Animation,84.0,8.0,397467.0
49,50,Star Trek VI: The Undiscovered Country,PG,27000000,96900000,1991-12-05,Science Fiction,113.0,7.2,66086.0
72,73,A League of Their Own,PG,40000000,107458785,1992-07-01,Comedy,128.0,7.2,85932.0
80,81,Groundhog Day,PG,14600000,70906973,1993-02-11,Comedy,101.0,8.0,549538.0
106,107,Star Trek: Generations,PG,38000000,120000000,1994-11-17,Science Fiction,118.0,8.5,869127.0
126,127,Mr. Holland's Opus,PG,31000000,106269971,1995-12-29,Family,137.0,7.3,33906.0
130,131,Apollo 13,PG,52000000,355237933,1995-06-30,Drama,140.0,7.6,250975.0
174,175,Contact,PG,90000000,171120329,1997-07-11,Science Fiction,150.0,7.4,239569.0
185,186,The Truman Show,PG,60000000,264118201,1998-06-04,Comedy,103.0,8.1,859224.0
188,189,The Prince of Egypt,PG,70000000,218613188,1998-12-15,Animation,99.0,7.1,110340.0
215,216,Tarzan,PG,150000000,448000000,1999-06-18,Animation,88.0,7.3,187724.0
220,221,Remember the Titans,PG,30000000,136706683,2000-09-29,Drama,113.0,7.8,186997.0
241,242,Shrek,PG,60000000,484409218,2001-05-16,Animation,90.0,7.8,574978.0
255,256,Harry Potter and the Sorcerer's Stone,PG,125000000,975100000,2001-11-04,Fantasy,152.0,7.6,583224.0
261,262,Ice Age,PG,59000000,383257136,2002-03-10,Animation,81.0,7.5,411963.0
270,271,Harry Potter and the Chamber of Secrets,PG,100000000,876688482,2002-11-13,Fantasy,161.0,7.4,505027.0
304,305,The Incredibles,PG,92000000,631442092,2004-11-05,Animation,115.0,8.0,617102.0
309,310,Harry Potter and the Prisoner of Azkaban,PG,130000000,789804554,2004-05-31,Fantasy,141.0,7.9,501648.0
311,312,Shrek 2,PG,150000000,919838758,2004-05-19,Animation,93.0,7.2,391295.0
385,386,Kung Fu Panda,PG,130000000,631744560,2008-06-04,Animation,90.0,7.5,390478.0
410,411,Monsters vs Aliens,PG,175000000,381509870,2009-03-19,Animation,94.0,7.7,374981.0
411,412,Up,PG,175000000,735099082,2009-05-13,Animation,96.0,8.2,867393.0
415,416,Harry Potter and the Half-Blood Prince,PG,250000000,933959197,2009-07-07,Fantasy,153.0,7.6,429384.0
420,421,Despicable Me,PG,69000000,543513985,2010-07-08,Animation,95.0,7.6,473121.0
425,426,Megamind,PG,130000000,321887208,2010-10-28,Animation,95.0,7.2,212563.0
428,429,How to Train Your Dragon,PG,165000000,494878759,2010-03-05,Animation,98.0,8.1,624128.0
435,436,Tangled,PG,260000000,591794936,2010-11-24,Animation,100.0,7.7,374981.0
447,448,Puss in Boots: The Three Diablos,PG,130000000,555000000,2011-12-08,Animation,130.0,7.8,727724.0
451,452,Kung Fu Panda 2,PG,150000000,665692281,2011-05-25,Animation,91.0,7.2,234612.0
461,462,Hotel Transylvania,PG,85000000,358375603,2012-09-20,Animation,91.0,7.1,208916.0
466,467,Wreck-It Ralph,PG,165000000,471222889,2012-11-01,Animation,108.0,7.7,354202.0
468,469,Brave,PG,185000000,538983207,2012-06-21,Animation,93.0,7.1,346490.0
480,481,Despicable Me 2,PG,76000000,970761885,2013-06-25,Animation,98.0,7.4,350582.0
484,485,The Croods,PG,135000000,585178928,2013-03-20,Animation,98.0,7.2,180043.0
485,486,Frozen,PG,150000000,1274219009,2013-11-27,Animation,102.0,7.5,527284.0
498,499,The Lego Movie,PG,60000000,469160692,2014-02-06,Animation,100.0,7.8,309295.0
503,504,How to Train Your Dragon 2,PG,145000000,609123048,2014-06-12,Animation,102.0,7.8,285394.0
505,506,Big Hero 6,PG,165000000,652105443,2014-10-24,Animation,102.0,7.8,380953.0

* show the count of Animation movies with more than 7 in Rating (use the shape function)

In [20]:
# count of Animation movies with more than 7 in Rating (use the shape() function)
df[(df['genre'] == 'Animation') & (df['rating'] > 7)].shape[0]

39

* show the list of top 5 movies based on Budget

In [21]:
# show the list of top 5 movies based on Budget
df.sort_values(by=['budget'], ascending=False).head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,961000000,2007-05-19,Adventure,169.0,7.1,565402.0

* show the top 5 Comedy movies by Rating

In [22]:
# show the top 5 Comedy movies by Rating
df[df['genre'] == 'Comedy'].sort_values(by=['rating'], ascending=False).head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
111,112,Forrest Gump,PG-13,55000000,677945399,1994-07-06,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000,264118201,1998-06-04,Comedy,103.0,8.1,859224.0
254,255,"Monsters, Inc.",G,115000000,562816256,2001-11-01,Comedy,92.0,8.0,758349.0
80,81,Groundhog Day,PG,14600000,70906973,1993-02-11,Comedy,101.0,8.0,549538.0
164,165,As Good as It Gets,PG-13,50000000,314178011,1997-12-19,Comedy,139.0,7.7,258974.0

* top 5 movie names by Rating

In [23]:
# top 5 movie names by Rating
df.sort_values(by=['rating'], ascending=False)['title'].head()

393                                  The Dark Knight
83                                  Schindler's List
287    The Lord of the Rings: The Return of the King
99                                      Pulp Fiction
98                                 Jurassic Park III
Name: title, dtype: object

* top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)

In [24]:
# top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)
df[(df['genre'] == 'Romance') & (df['release_date'].dt.year > 1999)].sort_values(by=['gross'], ascending=False).head(3)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000,829000000,2012-11-13,Romance,115.0,5.5,218357.0
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000,712171856,2011-03-15,Romance,117.0,4.9,211592.0
401,402,The Twilight Saga: New Moon,PG-13,50000000,709827462,2009-03-15,Romance,130.0,4.7,252223.0

* how many Genres are present in the dataframe? (use the function [value_counts()](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html) which applies to Series, not Dataframe)

In [25]:
# how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe)
print(f"There are {len(df['genre'].value_counts())} Genres in the dataframe.")
display(df['genre'].value_counts())

There are 16 Genres in the dataframe.

genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: count, dtype: int64

In [26]:
# alternative solution
print(f"There are {len(df['genre'].unique())} Genres in the dataframe.")
display(df['genre'].unique())

There are 16 Genres in the dataframe.

array(['Romance', 'Comedy', 'Crime', 'War', 'Drama', 'Family', 'Action',
       'Animation', 'Science Fiction', 'Adventure', 'Thriller', 'Western',
       'Horror', 'Mystery', 'History', 'Fantasy'], dtype=object)

* top 5 expensive movies released after 1999, not included (measured by Budget)

In [27]:
# top 5 expensive movies released after 1999, not included (measured by Budget)
df[df['release_date'].dt.year > 1999].sort_values(by='budget', ascending=False).head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
573,574,Justice League,PG-13,300000000,657900000,2017-11-15,Action,120.0,6.9,240347.5

* most & least frequent MPAA Rating in the dataset in terms of occurrences

In [28]:
# most & least frequent MPAA Rating in the dataset in terms of occurrences
most = df['mpaa_rating'].value_counts().idxmax()
least = df['mpaa_rating'].value_counts().idxmin()

print(f"The most frequent MPAA Rating in the dataset in terms of occurrences is: {most}")
print(f"The least frequent MPAA Rating in the dataset in terms of occurrences is: {least}")

The most frequent MPAA Rating in the dataset in terms of occurrences is: PG-13
The least frequent MPAA Rating in the dataset in terms of occurrences is: G

* most and least expensive Genre (take an average of all Budget measures grouped by Genre - use [groupBy()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) method)

In [29]:
# most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)
most_exp_genre = df.groupby(['genre'])['budget'].mean().sort_values(ascending=False).astype('int64').index[0]
most_exp_genre_budget = df.groupby(['genre'])['budget'].mean().sort_values(ascending=False).astype('int64').iloc[0]
print(f"most expensive Genre is {most_exp_genre} with an average budget of {most_exp_genre_budget}")

least_exp_genre = df.groupby(['genre'])['budget'].mean().sort_values(ascending=False).astype('int64').index[-1]
least_exp_genre_budget = df.groupby(['genre'])['budget'].mean().sort_values(ascending=False).astype('int64').iloc[-1]
print(f"most expensive Genre is {least_exp_genre} with an average budget of {least_exp_genre_budget}")

display(df.groupby(['genre'])['budget'].mean().sort_values(ascending=False).astype('int64'))

most expensive Genre is Fantasy with an average budget of 161211111
most expensive Genre is Horror with an average budget of 37004285

genre
Fantasy            161211111
Action             144168181
Adventure          133833333
Science Fiction    126783783
Animation          115879310
Mystery            103545454
War                 90755555
Thriller            86585365
Western             79833333
Family              62689655
Crime               56588235
Drama               55925757
History             55500000
Comedy              49577272
Romance             45400197
Horror              37004285
Name: budget, dtype: int64

* which Genre is favored the most by the people?

In [30]:
# which Genre is favored the most by the people?

# To answer that question, I'd say it's best to check which genre has the highest average rating.
print(f"{df.groupby(['genre'])['rating'].mean().sort_values(ascending=False).index[0]} is favored the most by the people based on Rating.")
display(df.groupby(['genre'])['rating'].mean().sort_values(ascending=False))

History is favored the most by the people based on Rating.

genre
History            7.625000
War                7.355556
Fantasy            7.337037
Western            7.333333
Drama              7.193939
Science Fiction    7.151351
Animation          7.110345
Thriller           6.995122
Action             6.985455
Crime              6.876471
Mystery            6.827273
Horror             6.735714
Adventure          6.696667
Comedy             6.631313
Romance            6.400000
Family             6.117241
Name: rating, dtype: float64